Source: gimp
Priority: optional
Section: graphics
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Uploaders: Jordi Mallach <jordi@debian.org>, Jeremy Bícha <jbicha@ubuntu.com>
Build-Depends: debhelper-compat (= 13),
               appstream-util,
               desktop-file-utils <!nocheck>,
               dpkg-dev (>= 1.22.5),
               dh-sequence-gir,
               gegl (>= 1:0.4.58),
               gettext,
#               gjs [amd64 arm64 armhf i386 mips64el ppc64el riscv64 s390x loong64 ppc64 sparc64],
               glib-networking,
               iso-codes,
               libaa1-dev,
               libappstream-glib-dev (>= 0.7.7),
               libasound2-dev (>= 1.0.0) [linux-any],
               libatk1.0-dev (>= 2.4.0),
               libbabl-dev (>= 1:0.1.112),
               libbz2-dev,
               libcairo2-dev (>= 1.14.0),
               libcfitsio-dev,
               libexif-dev (>= 0.6.15),
               libexiv2-dev (>= 0.27.4),
               libfontconfig-dev (>= 2.12.4),
               libfreetype-dev (>= 2.2),
               libgdk-pixbuf-2.0-dev (>= 2.30.8),
               libgdk-pixbuf2.0-doc,
               libgegl-dev (>= 1:0.4.58),
               libgexiv2-dev (>= 0.14.0),
               libgirepository1.0-dev (>= 1.32.0),
#               libgjs-dev [amd64 arm64 armhf i386 mips64el ppc64el riscv64 s390x loong64 ppc64 sparc64],
               libglib2.0-dev (>= 2.70.0),
               libglib2.0-doc,
               libgs-dev,
               libgtk-3-dev (>= 3.22.29),
               libgtk-3-doc,
               libgudev-1.0-dev (>= 167) [linux-any],
               libharfbuzz-dev (>= 2.8.2),
               libheif-dev (>= 1.15.1),
               libice-dev,
               libjpeg-dev,
               libjson-glib-dev (>= 1.2.6),
               libjxl-dev (>= 0.7.0),
               liblcms2-dev (>= 2.9),
#               libluajit-5.1-dev [amd64 arm64 armel armhf i386 mips64el riscv64 s390x loong64 powerpc],
               liblzma-dev (>= 5.0.0),
#               libmng-dev,
               libmypaint-dev (>= 1.4.0),
               libopenexr-dev (>= 1.6.1),
               libopenjp2-7-dev (>= 2.1.0),
               libpango1.0-dev (>= 1.50.0),
               libpng-dev (>= 1.6.25),
               libpoppler-glib-dev (>= 0.69.0),
               libqoi-dev,
               librsvg2-dev (>= 2.40.0),
               libsm-dev,
               libtiff-dev,
               libwebp-dev (>= 0.6.0),
               libwmf-dev (>= 0.2.8),
               libx11-dev,
               libxcursor-dev,
               libxml2-utils,
               libxmu-dev,
               libxpm-dev,
               libxt-dev,
               libhwy-dev, libbrotli-dev, liblcms-dev,
               zlib1g-dev,
               meson (>= 0.56),
               mypaint-brushes,
               patchutils,
               poppler-data (>= 0.4.9),
               python-gi-dev,
               shared-mime-info,
               valac (>= 0.40.0),
               xauth <!nocheck>,
               xvfb <!nocheck>,
               xsltproc
Build-Depends-Indep: gi-docgen <!nodoc>,
                     yelp-tools
Rules-Requires-Root: no
Standards-Version: 4.7.0
X-Ubuntu-Use-Langpack: yes
Vcs-Git: https://salsa.debian.org/gnome-team/gimp.git
Vcs-Browser: https://salsa.debian.org/gnome-team/gimp
Homepage: https://www.gimp.org/

Package: gimp
Architecture: any
Depends: libgimp-3.0-0 (>= ${source:Upstream-Version}),
         libgimp-3.0-0 (<= ${source:Upstream-Version}-z),
         librsvg2-common,
         gimp-data (>= ${source:Upstream-Version}),
         gimp-data (<= ${source:Upstream-Version}-z),
         gir1.2-gimp-3.0 (= ${binary:Version}),
         graphviz,
         xdg-utils,
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: ghostscript
Suggests: gimp-help-en | gimp-help,
          gimp-data-extras,
#          gjs [amd64 arm64 armhf i386 mips64el ppc64el riscv64 s390x loong64 ppc64 sparc64],
          gvfs-backends,
#          luajit [amd64 arm64 armel armhf i386 mips64el riscv64 s390x loong64 powerpc],
          python3
Conflicts: gimp-dds,
Breaks: gimp-plugin-registry (<< 7.20140602+nmu1~)
Replaces: gimp-dds,
          gimp-plugin-registry (<< 7.20140602+nmu1~)
Description: GNU Image Manipulation Program
 GIMP is an advanced picture editor. You can use it to edit, enhance, and
 retouch photos and scans, create drawings, and make your own images.
 It has a large collection of professional-level editing tools and
 filters, similar to the ones you might find in Photoshop. Numerous
 fine-control settings and features like layers, paths, masks, and
 scripting give you total control over your images.
 .
 Many image file formats are supported, including JPEG, Photoshop (.psd),
 and Paint Shop Pro (.psp) files. It can also be used to scan and print
 photos.
 .
 To open files remotely (like over HTTP), install the gvfs-backends
 package.
 .
 To use a MIDI device (like a musical keyboard) as an input controller in GIMP,
 install libasound2 and read the how-to at /usr/share/doc/gimp/README.MIDI

Package: gimp-data
Architecture: all
Enhances: gimp
Depends: ${misc:Depends}
Description: Data files for GIMP
 This package contains architecture-independent supporting data files
 for use with GIMP.

Package: libgimp-3.0-0
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: gimp-data (>= ${source:Upstream-Version}),
            gimp-data (<= ${source:Upstream-Version}-z)
Description: Libraries for the GNU Image Manipulation Program
 This package includes the libgimp libraries, which are
 necessary to run GIMP and third-party GIMP plugins.

Package: libgimp-3.0-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: gir1.2-gimp-3.0 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
         libgegl-dev (>= 1:0.4.58),
         libgexiv2-dev (>= 0.14.0),
         libgimp-3.0-0 (= ${binary:Version}),
         libgimp-3.0-bin (= ${binary:Version}),
         libgtk-3-dev (>= 3.22.29),
         pkgconf
Provides: ${gir:Provides}
Suggests: libgimp-3.0-doc
Description: Headers and other files for compiling plugins for GIMP
 This package contains the header files for the GNU Image Manipulation
 Program, along with the static versions of libgimp.
 .
 Install this package if you wish to compile your own plugins,
 or if you wish to develop packages that use libgimp.

Package: libgimp-3.0-bin
Architecture: any
Multi-Arch: foreign
Section: libdevel
Depends: ${shlibs:Depends},
         ${misc:Depends}
Suggests: libgimp-3.0-doc
Description: Development binaries for the GIMP library
 This package contains binaries that are necessary to develop gimp
 plugins or packages that use libgimp.
 .
 Currently, it contains the gimptool-2.99 binary.

Package: libgimp-3.0-doc
Architecture: all
Section: doc
Build-Profiles: <!nodoc>
Depends: ${misc:Depends},
         lynx | www-browser
Description: Developers' Documentation for the GIMP library
 This package contains the HTML documentation for the GIMP library in
 /usr/share/gtk-doc/html/ .

Package: gir1.2-gimp-3.0
Section: introspection
Architecture: any
Multi-Arch: same
Depends: ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Provides: gir1.2-gimpui-3.0 (= ${binary:Version})
Description: Instrospection data for the GIMP library
 This package includes the libgimp libraries, which are necessary to run
 GIMP and third-party GIMP plugins.
 .
 This package can be used by other packages using the GIRepository format
 to generate dynamic bindings for libgimp operations.
