Source: gimp
Standards-Version: 4.7.3
Maintainer: Debian GNOME Extras Maintainers <pkg-gnome-extras-maintainers@lists.alioth.debian.org>
Uploaders: Jordi Mallach <jordi@debian.org>, Jeremy Bícha <jbicha@ubuntu.com>
Section: graphics
Build-Depends: debhelper-compat (= 13),
               dh-sequence-gir,
               dpkg-dev (>= 1.22.5),
               appstream,
               architecture-is-little-endian [!m68k],
               bash-completion,
               dbus-daemon <!nocheck>,
               desktop-file-utils <!nocheck>,
               gegl (>= 1:0.4.66),
               gettext,
#               gjs [amd64 arm64 armhf i386 mips64el ppc64el riscv64 s390x loong64 ppc64 sparc64],
               glib-networking,
               gobject-introspection (>= 1.80),
               iso-codes,
               libaa1-dev,
               libappstream-dev,
               libarchive-dev,
               libasound2-dev [linux-any],
               libatk1.0-dev,
               libbabl-dev (>= 1:0.1.118),
               libbrotli-dev,
               libbz2-dev,
               libcairo2-dev,
               libcfitsio-dev,
               libexif-dev,
               libexiv2-dev,
               libfontconfig-dev,
               libfreetype-dev,
               libgdk-pixbuf-2.0-dev,
               libgdk-pixbuf2.0-doc,
               libgegl-dev (>= 1:0.4.66),
               libgexiv2-dev,
               libgirepository-1.0-dev,
#               libgjs-dev [amd64 arm64 armhf i386 mips64el ppc64el riscv64 s390x loong64 ppc64 sparc64],
               libglib2.0-dev,
               libglib2.0-doc,
               libgs-dev,
               libgtk-3-dev,
               libgtk-3-doc,
               libgudev-1.0-dev [linux-any],
               libharfbuzz-dev,
               libheif-dev,
               libhwy-dev,
               libice-dev,
               libjpeg-dev,
               libjson-glib-dev,
               libjxl-dev,
               liblcms-dev,
               liblcms2-dev,
#               libluajit-5.1-dev [amd64 arm64 armel armhf i386 mips64el riscv64 s390x loong64 powerpc],
               liblzma-dev,
               libmng-dev,
               libmypaint-dev,
               libopenexr-dev,
               libopenjp2-7-dev,
               libpango1.0-dev,
               libpng-dev,
               libpoppler-glib-dev,
               libqoi-dev,
               librsvg2-dev,
               libsm-dev,
               libtiff-dev,
               libwebp-dev,
               libwmf-dev,
               libx11-dev,
               libxcursor-dev,
               libxml2-utils,
               libxmu-dev,
               libxpm-dev,
               libxt-dev,
               localehelper,
               meson,
               mypaint-brushes,
               patchutils,
               poppler-data,
               python-gi-dev,
               python3-gi-cairo,
               shared-mime-info,
               valac,
               xauth <!nocheck>,
               xsltproc,
               xvfb <!nocheck>,
               zlib1g-dev
Build-Depends-Indep: gi-docgen <!nodoc>, yelp-tools
Vcs-Browser: https://salsa.debian.org/gnome-team/extras/gimp
Vcs-Git: https://salsa.debian.org/gnome-team/extras/gimp.git
Homepage: https://www.gimp.org/

Package: gimp
Architecture: any
Depends: gimp-data (<= ${source:Upstream-Version}-z),
         gimp-data (>= ${source:Upstream-Version}),
         gir1.2-gimp-3.0 (= ${binary:Version}),
         graphviz,
         libgimp-3.0-0 (<= ${source:Upstream-Version}-z),
         libgimp-3.0-0 (>= ${source:Upstream-Version}),
         librsvg2-common,
         python3-gi,
         python3-gi-cairo,
         xdg-utils,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: ghostscript
Suggests: gimp-data-extras,
          gimp-help-en | gimp-help,
#          gjs [amd64 arm64 armhf i386 mips64el ppc64el riscv64 s390x loong64 ppc64 sparc64],
          gvfs-backends,
#          luajit [amd64 arm64 armel armhf i386 mips64el riscv64 s390x loong64 powerpc],
          python3
Conflicts: gimp-dds
Breaks: gimp-plugin-registry (<< 7.20140602+nmu1~)
Replaces: gimp-dds, gimp-plugin-registry (<< 7.20140602+nmu1~)
Description: GNU Image Manipulation Program
 GIMP is an advanced picture editor. You can use it to edit, enhance, and
 retouch photos and scans, create drawings, and make your own images.
 It has a large collection of professional-level editing tools and
 filters, similar to the ones you might find in Photoshop. Numerous
 fine-control settings and features like layers, paths, masks, and
 scripting give you total control over your images.
 .
 Many image file formats are supported, including JPEG, Photoshop (.psd),
 and Paint Shop Pro (.psp) files. It can also be used to scan and print
 photos.
 .
 To open files remotely (like over HTTP), install the gvfs-backends
 package.
 .
 To use a MIDI device (like a musical keyboard) as an input controller in GIMP,
 install libasound2 and read the how-to at /usr/share/doc/gimp/README.MIDI

Package: gimp-data
Architecture: all
Depends: ${misc:Depends}
Enhances: gimp
Description: Data files for GIMP
 This package contains architecture-independent supporting data files
 for use with GIMP.

Package: libgimp-3.0-0
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: gimp-data (<= ${source:Upstream-Version}-z),
            gimp-data (>= ${source:Upstream-Version})
Description: Libraries for the GNU Image Manipulation Program
 This package includes the libgimp libraries, which are
 necessary to run GIMP and third-party GIMP plugins.

Package: libgimp-3.0-dev
Architecture: any
Multi-Arch: same
Section: libdevel
Depends: gir1.2-gimp-3.0 (= ${binary:Version}),
         libgegl-dev (>= 1:0.4.66),
         libgexiv2-dev,
         libgimp-3.0-0 (= ${binary:Version}),
         libgimp-3.0-bin (= ${binary:Version}),
         libgtk-3-dev,
         pkgconf,
         ${gir:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Provides: ${gir:Provides}
Suggests: libgimp-3.0-doc
Breaks: gimp (<< 3.2.0~RC2-3~)
Replaces: gimp (<< 3.2.0~RC2-3~)
Description: Headers and other files for compiling plugins for GIMP
 This package contains the header files for the GNU Image Manipulation
 Program, along with the static versions of libgimp.
 .
 Install this package if you wish to compile your own plugins,
 or if you wish to develop packages that use libgimp.

Package: libgimp-3.0-bin
Architecture: any
Multi-Arch: foreign
Section: libdevel
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: libgimp-3.0-doc
Description: Development binaries for the GIMP library
 This package contains binaries that are necessary to develop gimp
 plugins or packages that use libgimp.
 .
 Currently, it contains the gimptool-2.99 binary.

Package: libgimp-3.0-doc
Architecture: all
Build-Profiles: <!nodoc>
Section: doc
Depends: lynx | www-browser, ${misc:Depends}
Description: Developers' Documentation for the GIMP library
 This package contains the HTML documentation for the GIMP library in
 /usr/share/gtk-doc/html/ .

Package: gir1.2-gimp-3.0
Architecture: any
Multi-Arch: same
Section: introspection
Depends: ${gir:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${gir:Provides}
Description: Introspection data for the GIMP library
 This package includes the libgimp libraries, which are necessary to run
 GIMP and third-party GIMP plugins.
 .
 This package can be used by other packages using the GIRepository format
 to generate dynamic bindings for libgimp operations.
